<section class="articles section-offset">
  <div class="container">
    <h2 class="articles__title section-title">
      Последние статьи
    </h2>
    <div class="swiper articles__slider">
      <div class="articles__slider-nav">
        <button class="articles__slider-btn articles__slider-btn--prev" type="button"
          aria-label="Перейти к предыдущему слайду"></button>
        <div class="articles__slider-pag"></div>
        <button class="articles__slider-btn articles__slider-btn--next" type="button"
          aria-label="Перейти к следующему слайду"></button>
      </div>
      <div class="swiper-wrapper articles__slider-wrapper">

        <div class="swiper-slide">
          <div class="articles__slider-image">
            <span class="articles__slider-badge"> Архитектура</span>
            <picture>
              <source srcset="img/articles/1.avif" type="image/avif">
              <source srcset="img/articles/1.webp" type="image/webp">
              <img loading="lazy" src="img/articles/1.jpg" class="image" width="370" height="260"
                alt="Готовый загородный дом или самостоятельное строительство?">
            </picture>
          </div>
          <h3 class="articles__slider-subtitle">
            Готовый загородный дом или самостоятельное строительство?
          </h3>
          <div class="articles__slider-text">
            <p>
              Купить или построить дом с нуля – неизбежный вопрос, когда возникает желание приобрести частную
              недвижимость за городом.
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="articles__slider-image">
            <span class="articles__slider-badge"> Архитектура</span>
            <picture>
              <source srcset="img/articles/2.avif" type="image/avif">
              <source srcset="img/articles/2.webp" type="image/webp">
              <img loading="lazy" src="img/articles/2.jpg" class="image" width="370" height="260"
                alt="Авторские проекты домов – почему эксклюзив выгоднее">
            </picture>
          </div>
          <h3 class="articles__slider-subtitle">
            Авторские проекты домов – почему эксклюзив выгоднее
          </h3>
          <div class="articles__slider-text">
            <p>
              Владельцу предстоит решить вопрос: купить готовый типовой вариант или заказать индивидуальный.
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="articles__slider-image">
            <span class="articles__slider-badge"> Архитектура</span>
            <picture>
              <source srcset="img/articles/3.avif" type="image/avif">
              <source srcset="img/articles/3.webp" type="image/webp">
              <img loading="lazy" src="img/articles/3.jpg" class="image" width="370" height="260"
                alt="Готовый загородный дом или самостоятельное строительство?">
            </picture>
          </div>
          <h3 class="articles__slider-subtitle">
            Красивые дома: 100+ фото лучших проектов
          </h3>
          <div class="articles__slider-text">
            <p>
              Современная малоэтажная застройка в Украине представлена как типовыми архитектурными решениями,
              популярными.
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="articles__slider-image">
            <span class="articles__slider-badge"> Архитектура</span>
            <picture>
              <source srcset="img/articles/1.avif" type="image/avif">
              <source srcset="img/articles/1.webp" type="image/webp">
              <img loading="lazy" src="img/articles/1.jpg" class="image" width="370" height="260"
                alt="Готовый загородный дом или самостоятельное строительство?">
            </picture>
          </div>
          <h3 class="articles__slider-subtitle">
            Готовый загородный дом или самостоятельное строительство?
          </h3>
          <div class="articles__slider-text">
            <p>
              Купить или построить дом с нуля – неизбежный вопрос, когда возникает желание приобрести частную
              недвижимость за городом.
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="articles__slider-image">
            <span class="articles__slider-badge"> Архитектура</span>
            <picture>
              <source srcset="img/articles/2.avif" type="image/avif">
              <source srcset="img/articles/2.webp" type="image/webp">
              <img loading="lazy" src="img/articles/2.jpg" class="image" width="370" height="260"
                alt="Авторские проекты домов – почему эксклюзив выгоднее">
            </picture>
          </div>
          <h3 class="articles__slider-subtitle">
            Авторские проекты домов – почему эксклюзив выгоднее
          </h3>
          <div class="articles__slider-text">
            <p>
              Владельцу предстоит решить вопрос: купить готовый типовой вариант или заказать индивидуальный.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
