<section class="benefits">
  <div class="container benefits__container">
    <h2 class="benefits__title section-title">
      Почему выбирают нас:
    </h2>
    <ul class="benefits__content">
      <li class="benefits__item benefits__item--design">
        <h3 class="benefits__subtitle">Эксклюзивный дизайн</h3>
        <p class="benefits__text">
          Не имеющий аналогов в Украине
        </p>
      </li>
      <li class="benefits__item benefits__item--model">
        <h3 class="benefits__subtitle">Разработка модели</h3>
        <p class="benefits__text">
          Индивидуальной с помощью 3D-визуализации в нашем приложении
        </p>
      </li>
      <li class="benefits__item benefits__item--quality">
        <h3 class="benefits__subtitle">Сертификаты качества</h3>
        <p class="benefits__text">
          Подтверждают наши материалы и комплектующие
        </p>
      </li>
      <li class="benefits__item benefits__item--key">
        <h3 class="benefits__subtitle">Работа под ключ</h3>
        <p class="benefits__text">
          В среднем за Х дней от установки фундамента до сдачи объекта в эксплуатацию
        </p>
      </li>
    </ul>
  </div>
</section>
