<section class="card">
  <div class="breadcrumbs">
    <div class="container">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="index.html" class="breadcrumbs__link">
            Главная страница
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="dwelling.html" class="breadcrumbs__link">
            Жилое
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="dwelling.html" class="breadcrumbs__link">
            Вариант ST-56 «Barcelona»
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="card__top">
      <h2 class="card__title section-title">
        Вариант ST-56 «Barcelona»
      </h2>
      <a href="dwelling.html" class="card__link link">Вернуться назад</a>
    </div>

    <div class="slider">
      <div class="swiper slider__gallery">

        <div class="slider__gallery-nav">
          <button class="slider__gallery-btn slider__gallery-btn--prev" type="button"
            aria-label="Перейти к предыдущему слайду"></button>
          <div class="slider__gallery-pag"></div>
          <button class="slider__gallery-btn slider__gallery-btn--next" type="button"
            aria-label="Перейти к следующему слайду"></button>
        </div>

        <div class="swiper-wrapper slider__gallery-wrapper">

          <div class="swiper-slide slider__gallery-slide">
            <picture>
              <source srcset="img/card/barselona-1.avif" type="image/avif">
              <source srcset="img/card/barselona-1.webp" type="image/webp">
              <img loading="lazy" src="img/card/barselona-1.jpg" class="image" width="970" height="560"
                alt="Барселона ST-56">
            </picture>
          </div>

          <div class="swiper-slide slider__gallery-slide">
            <picture>
              <source srcset="img/card/barselona-2.avif" type="image/avif">
              <source srcset="img/card/barselona-2.webp" type="image/webp">
              <img loading="lazy" src="img/card/barselona-2.jpg" class="image" width="970" height="560"
                alt="Барселона ST-56">
            </picture>
          </div>

          <div class="swiper-slide slider__gallery-slide">
            <picture>
              <source srcset="img/card/barselona-3.avif" type="image/avif">
              <source srcset="img/card/barselona-3.webp" type="image/webp">
              <img loading="lazy" src="img/card/barselona-3.jpg" class="image" width="970" height="560"
                alt="Барселона ST-56">
            </picture>
          </div>

          <div class="swiper-slide slider__gallery-slide">
            <picture>
              <source srcset="img/card/barselona-4.avif" type="image/avif">
              <source srcset="img/card/barselona-4.webp" type="image/webp">
              <img loading="lazy" src="img/card/barselona-4.jpg" class="image" width="970" height="560"
                alt="Барселона ST-56">
            </picture>
          </div>

          <div class="swiper-slide slider__gallery-slide">
            <picture>
              <source srcset="img/card/barselona-5.avif" type="image/avif">
              <source srcset="img/card/barselona-5.webp" type="image/webp">
              <img loading="lazy" src="img/card/barselona-5.jpg" class="image" width="970" height="560"
                alt="Барселона ST-56">
            </picture>
          </div>
        </div>

      </div>

      <div class="swiper slider__thumb">
        <div class="swiper-wrapper">

          <div class="swiper-slide slider__thumb-slide">
            <picture>
              <source srcset="img/card/barselona-1.avif" type="image/avif">
              <source srcset="img/card/barselona-1.webp" type="image/webp">
              <img loading="lazy" src="img/card/barselona-1.jpg" class="image" width="170" height="130"
                alt="Барселона ST-56">
            </picture>
          </div>

          <div class="swiper-slide slider__thumb-slide">
            <picture>
              <source srcset="img/card/barselona-2.avif" type="image/avif">
              <source srcset="img/card/barselona-2.webp" type="image/webp">
              <img loading="lazy" src="img/card/barselona-2.jpg" class="image" width="170" height="130"
                alt="Барселона ST-56">
            </picture>
          </div>

          <div class="swiper-slide slider__thumb-slide">
            <picture>
              <source srcset="img/card/barselona-3.avif" type="image/avif">
              <source srcset="img/card/barselona-3.webp" type="image/webp">
              <img loading="lazy" src="img/card/barselona-3.jpg" class="image" width="170" height="130"
                alt="Барселона ST-56">
            </picture>
          </div>

          <div class="swiper-slide slider__thumb-slide">
            <picture>
              <source srcset="img/card/barselona-4.avif" type="image/avif">
              <source srcset="img/card/barselona-4.webp" type="image/webp">
              <img loading="lazy" src="img/card/barselona-4.jpg" class="image" width="170" height="130"
                alt="Барселона ST-56">
            </picture>
          </div>

          <div class="swiper-slide slider__thumb-slide">
            <picture>
              <source srcset="img/card/barselona-5.avif" type="image/avif">
              <source srcset="img/card/barselona-5.webp" type="image/webp">
              <img loading="lazy" src="img/card/barselona-5.jpg" class="image" width="170" height="130"
                alt="Барселона ST-56">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <div class="card__order">
      <div class="card__order-banner calculate-banner">
        <h2 class="calculate-banner__title">
          от 1 000 000 грн
        </h2>
        <h3 class="calculate-banner__subtitle">
          Стоимость строения зависит от комплектации
        </h3>
        <button class="calculate-banner__button btn" type="button" data-path="modal">Получить точный расчет</button>
      </div>
      <div class="card__order-consultation order-consultation">
        <span class="order-consultation__text">
          Закажите консультацию, если сомневаетесь
        </span>
        <form action="#" class="order-consultation__form">
          <label for="order-consultation" class="sr-only">отправить форму для получения консультации</label>
          <input class="order-consultation__input" type="number" name="phone" id="order-consultation"
            placeholder="+38 XXX XXX XX XX">
          <button class="order-consultation__button btn" type="submit">Заказать</button>
        </form>
      </div>
    </div>

  </div>

</section>
