<section class="catalog section-offset">
  <div class="container">
    <h2 class="catalog__title section-title">
      Каталог проектов
    </h2>
    <div class="catalog__inner">
      <ul class="catalog__list" style="background-image: url('img/catalog/catalog-bg.png'); width: 1246px; height: 801px;">
        <li class="catalog__item">
          <picture>
            <source srcset="img/catalog/1.avif" type="image/avif">
            <source srcset="img/catalog/1.webp" type="image/webp">
            <img loading="lazy" src="img/catalog/1.png" class="catalog__image" width="360" height="230"
              alt="жилое помещение">
          </picture>
          <div class="catalog__content">
            <h3 class="catalog__subtitle">Жилое</h3>
            <p class="catalog__text">Раздел с домами, дачами, коттеджами, виллами, усадьбами и особняками</p>
            <a href="dwelling.html" class="catalog__link link">Ознакомиться с проектами</a>
          </div>
        </li>
        <li class="catalog__item">
          <picture>
            <source srcset="img/catalog/2.avif" type="image/avif">
            <source srcset="img/catalog/2.webp" type="image/webp">
            <img loading="lazy" src="img/catalog/2.png" class="catalog__image" width="360" height="230"
              alt="Коммерческое помещение">
          </picture>
          <div class="catalog__content">
            <h3 class="catalog__subtitle">Коммерческое</h3>
            <p class="catalog__text">Раздел с базами отдыха, гостиницами, ресторанами, кафе и магазинами</p>
            <a href="#" class="catalog__link link">Ознакомиться с проектами</a>
          </div>
        </li>
        <li class="catalog__item catalog__item--garden">
          <div class="catalog__content">
            <h3 class="catalog__subtitle">Садовое</h3>
            <p class="catalog__text">Раздел с банями, беседками, альтанками, гаражами, кухнями, площадками, мангальными
              зонами и барбекю</p>
            <a href="#" class="catalog__link link">Ознакомиться с проектами</a>
          </div>
          <picture>
            <source srcset="img/catalog/3.avif" type="image/avif">
            <source srcset="img/catalog/3.webp" type="image/webp">
            <img loading="lazy" src="img/catalog/3.png" class="catalog__image" width="420" height="310"
              alt="Садовое помещение">
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
