<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <nav class="nav" title="Главное меню">
        <div class="nav__container">
          <ul class="nav__list nav__list--highlight">
            <li class="nav__item">
              <a href="dwelling.html" class="nav__link">
                Жилое
              </a>
            </li>
            <li class="nav__item">
              <a href="dwelling.html" class="nav__link">
                Коммерческое
              </a>
            </li>
            <li class="nav__item">
              <a href="dwelling.html" class="nav__link">
                Садовое
              </a>
            </li>
          </ul>
          <ul class="nav__list">
            <li class="nav__item">
              <a href="about.html" class="nav__link">
                О компании
              </a>
            </li>
            <li class="nav__item">
              <a href="portfolio.html" class="nav__link">
                Наши работы
              </a>
            </li>
            <li class="nav__item">
              <button class="header__button btn" type="button" data-path="modal">
                Заказать звонок
              </button>
            </li>
          </ul>
        </div>
      </nav>

      <nav class="nav footer-nav" title="Главное меню">
        <div class="footer-nav__inner">
          <a href="index.html" class="logo">
            <picture>
              <img loading="lazy" src="img/logo-mobile.svg" class="image" width="174" height="23" alt="логотип">
            </picture>
          </a>
          <span class="footer-nav__text">
            TokarCompany - производственно -строительная компания
          </span>
          <div class="nav__menu">
            <ul class="nav__list">
              <li class="nav__item">
                <button class="nav__button" type="button" aria-label="Открыть меню">
                  Жилое
                </button>
                <ul class="subnav">
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Дома из профилированого бруса
                    </a>
                  </li>
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Дома из оцилиндрованого бруса
                    </a>
                  </li>
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Каркасные дома
                    </a>
                  </li>
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Дома из блока
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav__item">
                <button class="nav__button" type="button" aria-label="Открыть меню">
                  Коммерческое
                </button>
                <ul class="subnav">
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Базы отдыха
                    </a>
                  </li>
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Гостинницы
                    </a>
                  </li>
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Рестораны
                    </a>
                  </li>
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Кафе
                    </a>
                  </li>
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Магазины
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav__item">
                <button class="nav__button" type="button" aria-label="Открыть меню">
                  Садовое
                </button>
                <ul class="subnav">
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Деревянные бани
                    </a>
                  </li>
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Беседки
                    </a>
                  </li>
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Альтанки
                    </a>
                  </li>
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Детские игровые площадки
                    </a>
                  </li>
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Гаражи
                    </a>
                  </li>
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Деревянные детские домики
                    </a>
                  </li>
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Мангальные зоны и барбекю
                    </a>
                  </li>
                  <li class="subnav__item">
                    <a href="dwelling.html" class="subnav__link">
                      Кухни
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav__item">
                <a href="about.html" class="nav__link">
                  О компании
                </a>
              </li>
              <li class="nav__item">
                <a href="portfolio.html" class="nav__link">
                  Наши работы
                </a>
              </li>
              <li class="nav__item">
                <a href="contact.html" class="nav__link">
                  Контакты
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="footer__content">
        <div class="footer__left">
          <div class="menu menu--living">
            <ul class="menu__list">
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Дома из профилированого бруса
                </a>
              </li>
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Дома из оцилиндрованого бруса
                </a>
              </li>
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Каркасные дома
                </a>
              </li>
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Дома из блока
                </a>
              </li>
            </ul>
          </div>
          <div class="menu menu--commercial">
            <ul class="menu__list">
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Базы отдыха
                </a>
              </li>
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Гостинницы
                </a>
              </li>
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Рестораны
                </a>
              </li>
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Кафе
                </a>
              </li>
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Магазины
                </a>
              </li>
            </ul>
          </div>
          <div class="menu menu--garden">
            <ul class="menu__list">
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Деревянные бани
                </a>
              </li>
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Беседки
                </a>
              </li>
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Альтанки
                </a>
              </li>
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Детские игровые площадки
                </a>
              </li>
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Гаражи
                </a>
              </li>
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Деревянные детские домики
                </a>
              </li>
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Мангальные зоны и барбекю
                </a>
              </li>
              <li class="menu__item">
                <a href="dwelling.html" class="menu__link">
                  Кухни
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__right">
          <div class="footer__logo">
            <a href="index.html" class="logo">
              <img loading="lazy" src="img/logo.svg" class="image" width="536" height="36" alt="логотип">
            </a>
          </div>
          <div class="footer__social">
            <div class="footer__text">Связаться напрямую:</div>
            <ul class="social" title="Наши социальные сети">
              <li class="social__item">
                <a href="#" target="_blank" class="social__link social__link--tg"
                  aria-label="Наша страничка в Телеграме">
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link social__link--wap"
                  aria-label="Наша страничка во Вотсаппе">
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link social__link--vb" aria-label="Наша страничка в Вайбере">
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__phone">
            <a href="tel:+380671755630" class="phone">+3 80 (67) 175 56 30</a>
            <div class="phone__text">с 09:00 до 18:00 (пн-вс)</div>
          </div>
          <button class="footer__button btn footer__button--mobile" type="button" data-path="modal">
            Заказать звонок
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__copy">
      <p>© 2020. Все права защищены. TokarCompany - Производственно-строительная компания. Информация, представленная на
        сайте, не является публичной офертой.</p>
    </div>
  </div>
</footer>
