<header class="header">
  <div class="container header__container">
    <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
    <a href="index.html" class="logo">
      <picture>
        <source srcset="img/logo-mobile.svg" media="(max-width: 576px)" width="147" height="20">
        <source srcset="img/logo.svg" media="(max-width: 1100px)" width="436" height="30">

        <img loading="lazy" src="img/logo.svg" class="image" width="536" height="36" alt="логотип">
      </picture>
    </a>
    <div class="header__contact">
      <div class="header__text header__text--highlight">Связаться напрямую:</div>
      <ul class="social" title="Наши социальные сети">
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--tg" aria-label="Наша страничка в Телеграме">
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--wap" aria-label="Наша страничка во Вотсаппе">
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--vb" aria-label="Наша страничка в Вайбере">
          </a>
        </li>
      </ul>
    </div>
    <div class="header__contact header__contact--phone">
      <a href="tel:+380671755630" class="header__phone phone">+3 80 (67) 175 56 30</a>
      <div class="header__text phone__text">с 09:00 до 18:00 (пн-вс)</div>
    </div>
    <div class="header__contact">
      <button class="header__button btn" type="button" data-path="modal">
        Заказать звонок
      </button>
      <div class="header__text header__text--small">
        Бесплатно по Украине
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="nav" title="Главное меню">
      <div class="nav__container">
        <ul class="nav__list nav__list--highlight">
          <li class="nav__item">
            <a href="dwelling.html" class="nav__link">
              Жилое
            </a>
          </li>
          <li class="nav__item">
            <a href="dwelling.html" class="nav__link">
              Коммерческое
            </a>
          </li>
          <li class="nav__item">
            <a href="dwelling.html" class="nav__link">
              Садовое
            </a>
          </li>
        </ul>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="about.html" class="nav__link">
              О компании
            </a>
          </li>
          <li class="nav__item">
            <a href="works.html" class="nav__link">
              Наши работы
            </a>
          </li>
          <li class="nav__item">
            <a href="contacts.html" class="nav__link">
              Контакты
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <nav class="nav nav--mobile" title="Главное меню" data-menu>
      <div class="nav__menu">
        <div class="nav__top">
          <div class="nav__title">Меню</div>
          <button class="burger__close" type="button" aria-label="Закрыть меню" data-menu-close></button>
        </div>
        <ul class="nav__list">
          <li class="nav__item">
            <button class="nav__button" type="button" aria-label="Открыть меню">
              Жилое
            </button>
            <ul class="subnav">
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Дома	из	профилированого	бруса                 
                </a>
              </li>
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Дома	из	оцилиндрованого	бруса                 
                </a>
              </li>
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Каркасные	дома                 
                </a>
              </li>
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Дома	из	блока                 
                </a>
              </li>                         
            </ul>
          </li>
          <li class="nav__item">
            <button class="nav__button" type="button" aria-label="Открыть меню">
              Коммерческое
            </button>
            <ul class="subnav">
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Базы	отдыха                 
                </a>
              </li>
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Гостинницы                 
                </a>
              </li>
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Рестораны                 
                </a>
              </li>
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Кафе               
                </a>
              </li>
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Магазины               
                </a>
              </li>                             
            </ul>
          </li>
          <li class="nav__item">
            <button class="nav__button" type="button" aria-label="Открыть меню">
              Садовое
            </button>
            <ul class="subnav">
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Деревянные	бани                 
                </a>
              </li>
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Беседки                 
                </a>
              </li>
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Альтанки                 
                </a>
              </li>
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Детские	игровые	площадки               
                </a>
              </li>
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Гаражи               
                </a>
              </li>
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Деревянные	детские	домики               
                </a>
              </li>  
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Мангальные	зоны и	барбекю               
                </a>
              </li>  
              <li class="subnav__item">
                <a href="dwelling.html" class="subnav__link">
                  Кухни               
                </a>
              </li>                               
            </ul>
          </li>
          <li class="nav__item">
            <a href="about.html" class="nav__link">
              О компании
            </a>
          </li>
          <li class="nav__item">
            <a href="works.html" class="nav__link">
              Наши работы
            </a>
          </li>
          <li class="nav__item">
            <a href="contacts.html" class="nav__link">
              Контакты
            </a>
          </li>
        </ul>
      </div>
      <div class="nav__contact">
        <div class="header__contact">
          <div class="header__text header__text--highlight">Связаться напрямую:</div>
          <ul class="social" title="Наши социальные сети">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--tg" aria-label="Наша страничка в Телеграме">
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--wap"
                aria-label="Наша страничка во Вотсаппе">
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link social__link--vb" aria-label="Наша страничка в Вайбере">
              </a>
            </li>
          </ul>
        </div>
        <div class="header__contact">
          <a href="tel:+380671755630" class="header__phone phone">+3 80 (67) 175 56 30</a>
          <div class="header__text phone__text">с 09:00 до 18:00 (пн-вс)</div>
        </div>
        <div class="header__contact">
          <button class="header__button btn" type="button" data-path="modal">
            Заказать звонок
          </button>
          <div class="header__text header__text--small">
            Бесплатно по Украине
          </div>
        </div>
      </div>
    </nav>

  </div>
</header>
