<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <span class="hero__text">
        TokarCompany - производственно -строительная компания
      </span>
      <h1 class="hero__title section-title">
        Производим и устанавливаем строения разных видов
        в Украине
      </h1>
      <div class="hero__image hero__image--mobile">
        <picture>
          <source srcset="img/hero-image.avif" type="image/avif">
          <source srcset="img/hero-image.webp" type="image/webp">
          <img loading="lazy" src="img/hero-image.png" class="image" width="615" height="506" alt="дом, который построила наша компания в этом году">
        </picture>
    </div>
      <h2 class="hero__subtitle">
        Индивидуально под ваш запрос построим дом, ресторан, баню, беседку, мангал или любую другую постройку
      </h2>
      <div class="hero__links">
          <a href="dwelling.html" class="hero__button btn">
            Перейти в каталог домов
          </a>
          <a href="dwelling.html" class="hero__link link">
            Каталог бань
          </a>
      </div>
    </div>
    <div class="hero__image">
        <picture>
          <source srcset="img/hero-image.avif" type="image/avif">
          <source srcset="img/hero-image.webp" type="image/webp">
          <img loading="lazy" src="img/hero-image.png" class="image" width="615" height="506" alt="дом, который построила наша компания в этом году">
        </picture>
    </div>
  </div>
</section>
