<section class="materials section-offset">
  <div class="container">
    <h2 class="materials__title section-title">
      Из чего состоят наши строения?
    </h2>
    <ul class="materials__list">
      <li class="materials__item">
        <div class="materials__item-top">
          <h3 class="materials__subtitle">
            Создание 3D-макета
          </h3>
          <div class="materials__image">
            <picture>
              <source srcset="img/materials/1.avif" type="image/avif">
              <source srcset="img/materials/1.webp" type="image/webp">
              <img loading="lazy" src="img/materials/1.png" class="image" width="225" height="161"
                alt="Создание 3D-макета">
            </picture>
          </div>
        </div>
        <p class="materials__text">
          Это визуализация строения через экран гаджета. Макет создается индивидуально для клиента. Главная задача
          3D-визуализации: учесть все детали в разработке и показать конечный вид проекта в оригинальном цвете и
          размере, используя актуальные материалы и наполнение внутри.
        </p>
      </li>
      <li class="materials__item">
        <div class="materials__item-top">
          <h3 class="materials__subtitle materials__subtitle--large">
            Взятие замеров и создание фундамента
          </h3>
          <div class="materials__image">
            <picture>
              <source srcset="img/materials/2.avif" type="image/avif">
              <source srcset="img/materials/2.webp" type="image/webp">
              <img loading="lazy" src="img/materials/2.png" class="image" width="204" height="205"
                alt="Взятие замеров и создание фундамента.">
            </picture>
          </div>
        </div>
        <p class="materials__text">
          Мы выезжаем на объект, обсуждаем задачу, выявляем потребность клиента и берем замеры. Строим несущую
          конструкцию, которая выдержит нагрузку от здания и погодных условий. Профессионалы используют лазерный уровень
          и качественные материалы, чтобы фундамент получился максимально крепким и ровным.
        </p>
      </li>
      <li class="materials__item">
        <div class="materials__item-top">
          <h3 class="materials__subtitle">
            Производство конструкции
          </h3>
          <div class="materials__image">
            <picture>
              <source srcset="img/materials/3.avif" type="image/avif">
              <source srcset="img/materials/3.webp" type="image/webp">
              <img loading="lazy" src="img/materials/3.png" class="image" width="268" height="130"
                alt="Производство конструкции">
            </picture>
          </div>
        </div>
        <p class="materials__text">
          На одном из 4 заводов по всей территории Украины мы производим конструкцию по техническому заданию. Задание
          создается и согласуется с вами через прописанный договор в начале работ.
        </p>
      </li>
      <li class="materials__item">
        <div class="materials__item-top">
          <h3 class="materials__subtitle">
            Монтажные работы
          </h3>
          <div class="materials__image">
            <picture>
              <source srcset="img/materials/4.avif" type="image/avif">
              <source srcset="img/materials/4.webp" type="image/webp">
              <img loading="lazy" src="img/materials/4.png" class="image" width="206" height="169"
                alt="Монтажные работы">
            </picture>
          </div>
        </div>
        <p class="materials__text">
          Выполним полный объем работ: от возведения фундамента до устройства кровли. В конечном итоге, можно будет
          сразу использовать строение, а не докупать материал на собственные деньги. Проведем сантехнические работы до
          полной сдачи проекта.
        </p>
      </li>
    </ul>

    <div class="swiper materials__slider">
      <div class="swiper-wrapper materials__slider-wrapper">
        <div class="swiper-slide">
          <div class="materials__slider-image">
            <picture>
              <source srcset="img/materials/materials-bg.avif" type="image/avif">
              <source srcset="img/materials/materials-bg.webp" type="image/webp">
              <img loading="lazy" src="img/materials/materials-bg.png" class="image" width="1170" height="520"
                alt="наш цех по производству материалов">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="materials__slider-image">
            <picture>
              <source srcset="img/materials/materials-bg.avif" type="image/avif">
              <source srcset="img/materials/materials-bg.webp" type="image/webp">
              <img loading="lazy" src="img/materials/materials-bg.png" class="image" width="1170" height="520"
                alt="наш цех по производству материалов">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="materials__slider-image">
            <picture>
              <source srcset="img/materials/materials-bg.avif" type="image/avif">
              <source srcset="img/materials/materials-bg.webp" type="image/webp">
              <img loading="lazy" src="img/materials/materials-bg.png" class="image" width="1170" height="520"
                alt="наш цех по производству материалов">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="materials__slider-image">
            <picture>
              <source srcset="img/materials/materials-bg.avif" type="image/avif">
              <source srcset="img/materials/materials-bg.webp" type="image/webp">
              <img loading="lazy" src="img/materials/materials-bg.png" class="image" width="1170" height="520"
                alt="наш цех по производству материалов">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="materials__slider-image">
            <picture>
              <source srcset="img/materials/materials-bg.avif" type="image/avif">
              <source srcset="img/materials/materials-bg.webp" type="image/webp">
              <img loading="lazy" src="img/materials/materials-bg.png" class="image" width="1170" height="520"
                alt="наш цех по производству материалов">
            </picture>
          </div>
        </div>
      </div>
      <div class="materials__slider-nav">
        <button class="materials__slider-btn materials__slider-btn--prev" type="button"
          aria-label="Перейти к предыдущему слайду"></button>
        <div class="materials__slider-pag"></div>
        <button class="materials__slider-btn materials__slider-btn--next" type="button"
          aria-label="Перейти к следующему слайду"></button>
      </div>
    </div>

    <a href="dwelling.html" class="materials__button btn">Перейти в каталог домов</a>
    <a href="dwelling.html" class="materials__link link">Каталог бань</a>
  </div>
</section>
