<div class="modal" role="dialog" aria-modal="true" data-target="modal">
<div class="modal__container order-consultation">
    <button class="modal__close" data-target='close' aria-label="Закрыть модальное окно">X</button>
    <div class="order-consultation__inner">
      <span class="order-consultation__text">
        Получите ответы на все свои вопросы за 15 минут
      </span>
      <form action="#" class="order-consultation__form">
        <label for="order-consultation" class="sr-only">отправить форму для получения консультации</label>
        <input class="order-consultation__input" type="number" name="order-consultation" id="order-consultation"
          placeholder="+38 XXX XXX XX XX">
        <button class="order-consultation__button btn" type="submit">Заказать</button>
      </form>
      <span class="order-consultation__personal">
        Отправляя данные, Вы соглашаетесь на обработку <span>персональных данных</span>
      </span>
    </div>  
</div>
</div>
