.about {

  &__title {
    margin-bottom: 80px;
  }

  &__feedback {
    @include bg-cover;

    border-radius: 0px 100px;
    max-height: 420px;
    margin-bottom: 180px;

    @include mobile {
      margin-bottom: 140px;
    }
  }

  &__image {
    position: relative;
    max-width: 420px;
    margin: 0 auto;
    transform: translateY(-70px);
  }

  &__play {
    @include bg-cover;

    position: absolute;
    bottom: 185px;
    right: 43px;
    width: 64px;
    height: 64px;

    background-image: url('../../img/play.svg');

    &-text {
      position: absolute;
      bottom: 105px;
      right: 8px;
      max-width: 134px;
      min-height: 54px;
      font-weight: 700;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      color: var(--light-color);
    }
  }

  &__quote {
    position: relative;
    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
    border-radius: 8px;
    max-width: 570px;
    margin: 0 auto;
    background-color: var(--light-color);
    padding: 38px 51px 35px 119px;
    transform: translateY(-130px);

    &::before {
      @include pseudo;

      width: 54px;
      height: 55px;
      top: 39px;
      left: 43px;
      background-image: url('../../img/quote.svg');

      @include mobile {
        display: none;
      }
    }

    @include mobile {
      padding: 29px 22px;
      transform: translateY(-115px);
    }
  }

  &__name {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 6px;

    @include mobile {
      text-align: center;
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__text {
    font-weight: 300;
    line-height: 26px;

    @include mobile {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 38px;
    column-gap: 30px;

    @include medium-tablet {
      grid-template-columns: repeat(8, 1fr);
      justify-content: center;
    }

    @include mobile {
      display: block;
      text-align: center;
    }
  }

  &__item {
    grid-column: 3 span;
    max-width: 270px;

    @include medium-tablet {
      grid-column: 4 span;
    }

    @include mobile {
      margin: 0 auto;

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &:last-child {
        margin-bottom: 25px;
      }
    }
  }

  &__num {
    position: relative;
    font-weight: 400;
    font-size: 60px;
    line-height: 30px;
    color: var(--accent-color);
    padding-bottom: 29px;
    margin-bottom: 18px;

    @include small-tablet {
      font-size: calc(48px + (60 - 48) * ((100vw - 320px) / (768 - 320)));

    }

    @include mobile {
      padding-bottom: 24px;
    }

    &-text {
      font-size: 36px;
    }

    &::before {
      @include pseudo;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: var(--accent-color);
    }
  }

  &__post {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
  }

  &__button {
    display: block;
    max-width: 280px;
    margin: 0 auto;
  }
}
