.burger {
  display: none;
  @include burger;

  --burger-width: 25px;
  --burger-height: 20px;
  color: var(--accent-color);

  @include tablet {
    display: block;
  }

  &__close {
    width: 25px;
    height: 25px;
    background-image: url('../img/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 17px;
  }

}
