.link {
  position: relative;
  display: block;
  color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  padding: 12px 5px 12px 42px;
  transition: color 0.5s ease-in-out;

  &::before {
    @include pseudo;
    width: 30px;
    height: 30px;
    left: 0;
    top: 4px;
    background-image: url('../img/circle-toggle.svg');
  }

  &:hover {
    color: rgb(168, 97, 11);
  }

  @include tablet {
    font-size: 15px;
  }
}
