.materials {
  background-color: var(--bg-accent);

  &__title {
    max-width: 385px;
    margin-bottom: 11px;
    line-height: 48px;

    @include tablet {
      max-width: none;
    }

    @include mobile {
      line-height: 30px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 32px;
    column-gap: 30px;
    counter-reset: listCounter;
    margin-bottom: 60px;

    @include small-tablet {
      display: block;
    }
  }

  &__item {
    position: relative;
    border-radius: 8px;
    background-color: var(--light-color);
    grid-column: 4 span;
    display: flex;
    flex-direction: column;
    max-width: 570px;
    padding: 0 0 50px 46px;
    counter-increment: listCounter;

    &::before {
      position: absolute;
      content: "0" counter(listCounter);
      color: var(--accent-color);
      opacity: 0.1;
      font-weight: 800;
      font-size: 140px;
      line-height: 30px;
      bottom: 37px;
      right: 0;
    }

    &:not(:last-child) {
      @include small-tablet {
        margin-bottom: 20px;
      }
    }

    @include small-tablet {
      margin: 0 auto;
      padding: 0 15px 43px 15px;
    }
  }

  &__item-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    @include tablet {
      flex-direction: column-reverse;
      align-items: center;
      margin-top: auto;
    }

    & .image {
      margin-top: auto;
    }
  }

  &__image {
    margin-top: auto;
    flex: 1;
    display: flex;
    justify-content: end;
  }

  &__subtitle {
    padding-top: 100px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    max-width: 185px;
    flex: 2;

    &--large {
      max-width: none;
    }

    @include tablet {
      padding-top: 16px;
      max-width: none;
      text-align: center;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    padding-right: 39px;

    @include tablet {
      padding-right: 0;
      margin-top: auto;
    }
  }

  &__button {
    display: inline-block;
    margin-right: 44px;

    @include mobile {
      margin: 0 auto 19px;
      display: block;
      max-width: 230px;
    }
  }

  &__link {
    display: inline-block;

    @include mobile {
      display: block;
      margin: 0 auto;
      max-width: 160px;
    }
  }

  &__slider {
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 30px;
    }

    &-wrapper {
      position: relative;
    }

    &-nav {
      position: absolute;
      display: flex;
      align-items: center;
      bottom: 34px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: var(--light-color);

      @include mobile {
        bottom: 16px;
        font-size: 14px;
      }
    }

    &-btn {
      @include bg-cover;

      width: 38px;
      height: 14px;

      &--prev {
        background-image: url('../img/prev.svg');
      }

      &--next {
        background-image: url('../img/next.svg');
      }

      @include mobile {
        width: 30px;
        height: 12px;
      }
    }

    &-pag {
      transform: translateX(15px);
    }
  }
}
