.phone {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  margin-bottom: 7px;

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.08em;
  }
 
}
