.requisites {
  background-color: #FFFBF7;

  &__title {
    margin-bottom: 26px;

    @include big-desktop {
      margin-bottom: calc(12px + (26 - 12) * ((100vw - 320px) / (1200 - 320)));
    }

    @include small-tablet {
      text-align: center;
    }
  }

  &__list {
    display: grid;
    row-gap: 10px;

    @include minsmall-tablet {
      grid-template: repeat(12, 1fr) / repeat(12, 1fr);
      column-gap: 30px;
      row-gap: 30px;
    }

    @include small-tablet {
      max-width: 370px;
      margin: 0 auto;
    }
  }

  &__item {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 370px;
    width: 100%;
    min-height: 159px;

    &::before {
      @include pseudo;

      width: 62px;
      height: 62px;
      top: 49px;
      left: 32px;
      background-image: url('../../img/contacts/mark.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      @include mobile {
        width: 50px;
        height: 50px;
      }
    }

    @include mintablet {
      grid-column: 4 span;
      grid-row: 4 span;
    }

    @include tablet {
      grid-column: 6 span;
      grid-row: 6 span;
    }

    &-box {
      max-width: 179px;
      padding-left: 132px;

      @include big-desktop {
        padding-left: calc(92px + (132 - 92) * ((100vw - 320px) / (1200 - 320)));
      }
    }

    &-title {
      display: block;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 7px;
    }

    &-info {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
    }
  }
}
