.about-company {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @include big-desktop {
      margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1200 - 320)));
    }
  }

  &__link {
    display: none;

    @include minmobile {
      display: block;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    column-gap: 85px;

    @include tablet {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    max-width: 472px;

    @include tablet {
      max-width: none;
    }
  }
  &__image {
      margin-bottom: 30px;
  }
}
