.breadcrumbs {
  padding: 20px 0 30px;

  @include medium-tablet {
    padding: 11px 0 15px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #828282;

    &:not(:last-child) {
      margin-right: 15px;

      &::after {
        @include pseudo;

        background-color: #828282;
        width: 12px;
        height: 1px;
        top: 8px;
        right: -13px;
        transform: rotate(-60deg);
      }
    }
  }

  &__link {
    padding: 10px 0;
  }
}
