.header {
  background-color: var(--bg-accent);

  &__container {
    padding: 18px 15px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      padding: 13px 11px;
      border-bottom: 1px solid var(--accent-color);
    }
  }

  &__contact {
    @include tablet {
      display: none;

      &--phone {
        display: block;

        .header__text {
          display: none;
        }

        .header__phone.phone {
          width: 30px;
          height: 30px;
          border-radius: 2px;
          font-size: 0;
          border: 1px solid var(--accent-color);
          background-image: url('../../img/phone.svg');
          background-repeat: no-repeat;
          background-size: 22px 22px;
          background-position: center;
        }
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.08em;
    text-align: right;

    &--highlight {
      font-weight: 600;
      margin-bottom: 4px;
      text-align-last: left;
    }

    &--small {
      font-size: 11px;
      text-align: center;
    }
  }

  &__phone {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    margin-bottom: 7px;

    @include big-desktop {
      font-size: calc(15px + (20 - 15) * ((100vw - 1024px) / (1200 - 1024)));
    }
  }

  &__button {
    margin-bottom: 7px;
  }


}
