.load-more {
  background: #FFFBF7;
  border-radius: 8px;
  width: 95%;
  margin-left: auto;
  padding: 18px 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    font-size: 15px;
    padding: 17px 10px 15px;
  }

  &__image {
    margin-right: 12px;

    @include mobile {
      width: 27px;
      height: 29px;
      margin-right: 14px;
    }
  }

}
