.menu {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;

  &--living {
    flex: 2;
    margin-right: 78px;
  }

  &--commercial {
    flex: 1;
    margin-right: 86px;
  }

  &--garden {
    flex: 2;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

  }
}
