.order-consultation {
  &__text {
    display: block;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 26px;

    @include big-desktop {
      font-size: calc(24px + (30 - 24) * ((100vw - 320px) / (1200 - 320)));

    }
  }

  &__form {
    @include minmedium-tablet {
      display: flex;
      align-items: center;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__input {
    max-width: 440px;
    width: 100%;
    display: inline-block;
    border: 1px solid #E7D8C7;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px;
    color: inherit;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #828282;
    }

    @include minmedium-tablet {
      margin-right: 17px;
      margin-bottom: 0;
    }
  }

  &__button {
    width: 100%;
    max-width: 440px;
    font-size: 16px;
    padding: 21px 27px;

    @include big-desktop {
      font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1200 - 320)));
    }

    @include minmedium-tablet {
      width: 100%;
      max-width: 280px;
    }
  }

  &__personal {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;

    span {
      color: var(--accent-color);
      font-size: 14px;
      font-weight: 600;
    }
  }

  &--contacts {
    .order-consultation__text {
      @include small-tablet {
        text-align: center;
      }
    }
    .order-consultation__form {
      display: block;

      @include small-tablet {
        margin: 0 auto;
        max-width: 420px;
      }
    }

    .order-consultation__input {
      max-width: 420px;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

    }

    .order-consultation__inputs {
      margin-bottom: 20px;
    }

    .order-consultation__button {
      max-width: 420px;
      width: 100%;
    }
  }
}
