.social {
  display: flex;


  &__item {
    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &__link {
    width: 26px;
    height: 26px;
    display: block;

    &--tg {
      @include bg-cover;

      background-image: url('../../img/tg.svg');
    }

    &--wap {
      @include bg-cover;

      background-image: url('../../img/wap.svg');
    }
    &--vb {
        @include bg-cover;
  
        background-image: url('../../img/vb.svg');
      }
  }
}
