<section class="about section-offset" style="background-image: url('img/about/about-bg.png');">
  <div class="container">
    <h2 class="about__title section-title">
      О компании TokarMebel
    </h2>
    <div class="about__feedback" style="background-image: url('img/about/aboutVideo-bg.jpg')">
      <div class="about__image">
        <picture>
          <source srcset="img/about/photo.avif" type="image/avif">
          <source srcset="img/about/photo.webp" type="image/webp">
          <img loading="lazy" src="img/about/photo.png" class="image" width="420" height="478"
            alt="руководитель компании TokarMebel">
        </picture>
        <button class="about__play" type="button" data-graph-path="video"></button>
        <span class="about__play-text">Посмотреть короткое видео о компании (2:42 мин)</span>
      </div>
      <div class="about__quote">
        <div class="about__name">Точилов Александр Николаевич</div>
        <div class="about__text">
          Цитата о компании, пару слов от самого лица компании. Цитата о компании, пару слов от самого лица компании.
        </div>
      </div>
    </div>

    <ul class="about__list">
      <li class="about__item">
        <div class="about__num">21 <span class="about__num-text">год</span></div>
        <div class="about__post">Работаем на рынке Украины с 1998 года</div>
      </li>
      <li class="about__item">
        <div class="about__num">300<span class="about__num-text">+</span></div>
        <div class="about__post">Позиций различных строений</div>
      </li>
      <li class="about__item">
        <div class="about__num"><span class="about__num-text">до </span>7%</div>
        <div class="about__post">Влажность просушенного дерева, что соответствует нормативам ГОСТ</div>
      </li>
      <li class="about__item">
        <div class="about__num"><span class="about__num-text">в </span>1,5<span class="about__num-text"> раза</span></div>
        <div class="about__post">Стоимость доставки ниже рыночной</div>
      </li>
    </ul>
    <a href="about.html" class="about__button btn">Подробнее о компании</a>
  </div>

</section>
