<section class="about-company">
  <div class="container ">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="index.html" class="breadcrumbs__link">
            Главная страница
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="dwelling.html" class="breadcrumbs__link">
            О компании
          </a>
        </li>
      </ul>
    </div>

    <div class="about-company__top">
      <h2 class="about-company__title section-title">
        О компании
      </h2>
      <a href="index.html" class="about-company__link link">Вернуться назад</a>
    </div>

    <div class="about-company__container">
      <div class="about-company__content">
        <h1 class="sr-only">
          Производим и устанавливаем строения разных видов
          в Украине
        </h1>
        <div class="about-company__text">
          <p>
            На протяжении уже более чем 10 лет Tokar Mebel проектирует и возводит лучшие объекты недвижимости в Киеве и
            Киевской области. Будущим владельцам квартир и зданий различного назначения, за которые берется наша
            команда, мы гарантируем комфортную среду обитания, а также прекрасные условия для отдыха и работы. Наша
            компаний всегда стоит на стороне инновационных технологий, соблюдая европейские стандарты качества при
            возведении недвижимости. Среди других строительных компаний Киева нас отличает профессионализм наших
            специалистов, а также наличие богатого опыта строительства.
          </p>
        </div>
      </div>
      <div class="about-company__image">
        <picture>
          <source srcset="img/hero-image.avif" type="image/avif">
          <source srcset="img/hero-image.webp" type="image/webp">
          <img loading="lazy" src="img/hero-image.png" class="image" width="615" height="506"
            alt="дом, который построила наша компания в этом году">
        </picture>
      </div>
    </div>
  </div>

  
</section>
