<section class="contacts">
  <div class="container">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="index.html" class="breadcrumbs__link">
            Главная страница
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="dwelling.html" class="breadcrumbs__link">
            Контакты
          </a>
        </li>
      </ul>
    </div>

    <div class="contacts__top">
      <h2 class="contacts__title section-title">
        Контакты, как с нами связаться
      </h2>
      <a href="index.html" class="contacts__link link">Вернуться назад</a>
    </div>

    <div class="contacts__wrapper section-offset">
      <div class="contacts__left connect">
        <div class="connect__text">
          <p>Связаться с компанией TokarMebel вы сможете с помощью одного из этих способов:</p>
        </div>
        <ul class="connect__list">
          <li class="connect__item connect__item--phone">
            <h3 class="connect__title">
              Телефоны:
            </h3>
            <div class="connect__info">
              <span class="connect__info-title">Отдел продаж:</span>
              <span class="connect__info-item">+38 (098) 188 55 66</span>
            </div>
            <div class="connect__info">
              <span class="connect__info-title">Отдел логистики:</span>
              <span class="connect__info-item">+38 (068) 704 37 77</span>
            </div>
            <a href="tel:380981885566" class="connect__link link">Позвонить компании</a>
          </li>

          <li class="connect__item connect__item--email">
            <h3 class="connect__title">
              Почта:
            </h3>
            <div class="connect__info">
              <span class="connect__info-title">Отдел продаж:</span>
              <span class="connect__info-item">sales.tokarmebel@gmail.com</span>
            </div>
            <div class="connect__info">
              <span class="connect__info-title">Отдел логистики:</span>
              <span class="connect__info-item">logistics.tokarmebel@gmail.com</span>
            </div>
            <a href="mailto:sales.tokarmebel@gmail.com" class="connect__link link">Написать на почту (отвечаем ...)</a>
          </li>

          <li class="connect__item connect__item--schedule">
            <h3 class="connect__title">
              График работы:
            </h3>
            <div class="connect__info">
              <span class="connect__info-title">Пн. - Пт.:</span>
              <span class="connect__info-item">с 9:00 до 18:00</span>
            </div>
            <div class="connect__info">
              <span class="connect__info-title">Сб. - Вс.:</span>
              <span class="connect__info-item">Выходной</span>
            </div>
            <a href="#" class="connect__link link">Посетить лично в офис</a>
          </li>

          <li class="connect__item connect__item--social">
            <h3 class="connect__title">
              Мессенджеры:
            </h3>
            <ul class="social" title="Наши социальные сети">
              <li class="social__item">
                <a href="#" target="_blank" class="social__link social__link--tg"
                  aria-label="Наша страничка в Телеграме">
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link social__link--wap"
                  aria-label="Наша страничка во Вотсаппе">
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link social__link--vb" aria-label="Наша страничка в Вайбере">
                </a>
              </li>
            </ul>
            <a href="#" class="connect__link link">Написать в соцсети (отвечаем ...)</a>
          </li>

          <li class="connect__item connect__item--address">
            <h3 class="connect__title">
              Компания TokarMabel находится по адресу:
            </h3>
            <address class="connect__info">
              <span class="connect__info-item">Украина, Тячевский район. г. Тячев, ТЦ "Стиль"</span>
            </address>

            <a href="#" class="connect__link link">Проложить маршрут</a>
          </li>

        </ul>

      </div>
      <div class="contacts__right">
        <div class="order-consultation order-consultation--contacts">
          <span class="order-consultation__text">
            Закажите консультацию, если сомневаетесь
          </span>
          <form action="#" class="order-consultation__form">
            <div class="order-consultation__inputs">
              <label for="name" class="sr-only">укажите ваше имя</label>
              <input class="order-consultation__input" type="text" name="name" id="name" placeholder="Введите имя">
              <label for="contacts-phone" class="sr-only">укажите ваш телефон</label>
              <input class="order-consultation__input" type="number" name="phone" id="contacts-phone"
                placeholder="+38 XXX XXX XX XX">
            </div>
            <button class="order-consultation__button btn" type="submit">Заказать</button>
          </form>
        </div>
        <div class="contacts__map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1334.5229650566343!2d23.572193554001608!3d48.01282250784866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0YLRj9GH0LXQsiDQotCmINCh0YLQuNC70Yw!5e0!3m2!1sru!2sua!4v1650393213902!5m2!1sru!2sua"
            width="564" height="800" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>

    <section class="contacts__requisites requisites section-offset">
      <h2 class="requisites__title section-title">
        Реквизиты компании:
      </h2>
      <ul class="requisites__list">
        <li class="requisites__item">
          <div class="requisites__item-box">
            <span class="requisites__item-title">Наименование компании:</span>
            <span class="requisites__item-info">Tokar Mebel</span>
          </div>
        </li>
        <li class="requisites__item">
          <div class="requisites__item-box">
            <span class="requisites__item-title">КПП:</span>
            <span class="requisites__item-info">644901001</span>
          </div>
        </li>
        <li class="requisites__item">
          <div class="requisites__item-box">
            <span class="requisites__item-title">БИК:</span>
            <span class="requisites__item-info">046526969</span>
          </div>
        </li>
        <li class="requisites__item">
          <div class="requisites__item-box">
            <span class="requisites__item-title">Юридический адрес:</span>
            <span class="requisites__item-info"> г. Тячев, ТЦ "Стиль"</span>
          </div>
        </li>
        <li class="requisites__item">
          <div class="requisites__item-box">
            <span class="requisites__item-title">ИНН:</span>
            <span class="requisites__item-info">027811001</span>
          </div>
        </li>
        <li class="requisites__item">
          <div class="requisites__item-box">
            <span class="requisites__item-title">Корреспондентский счет:</span>
            <span class="requisites__item-info">30101810600002500957
            </span>
          </div>
        </li>
        <li class="requisites__item">
          <div class="requisites__item-box">
            <span class="requisites__item-title">Регистрационный номер:</span>
            <span class="requisites__item-info">02428896</span>
          </div>
        </li>
        <li class="requisites__item">
          <div class="requisites__item-box">
            <span class="requisites__item-title">Расчетный счет:</span>
            <span class="requisites__item-info">40602810206000050025</span>
          </div>
        </li>
      </ul>
    </section>

  </div>
</section>
