<section class="development">
  <div class="container">
    <div class="development__section char">
      <h4 class="development__title section-title">
        Характеристика строения:
      </h4>
      <div class="char__inner">
        <ul class="char__list">
          <li class="char__footage">
            <img class="char__footage-image" src="img/card/footage-m2.svg" width="71" height="71"
              alt="двадцать метров квадратных">
            <span class="char__footage-num">20м²</span>
          </li>
          <li class="char__footage">
            <img class="char__footage-image" src="img/card/footage-floor.svg" width="71" height="71" alt="два этажа">
            2 этажа
          </li>
          <li class="char__footage">
            <img class="char__footage-image" src="img/card/footage-m.svg" width="71" height="71"
              alt="четыре на пять метров">
            4x5м
          </li>
        </ul>
        <div class="char__content">
          <div class="char__block">
            <div class="char__image">
              <picture>
                <source srcset="img/card/barselona-1.avif" type="image/avif">
                <source srcset="img/card/barselona-1.webp" type="image/webp">
                <img loading="lazy" src="img/card/barselona-1.jpg" class="image" width="270" height="180"
                  alt="Barcelona">
              </picture>
            </div>
            <div class="char__box">
              <span class="char__box-title">
                Barcelona
              </span>
              <span class="char__box-item char__box-item--technology">
                Технологии:
              </span>
              <span class="char__box-item char__box-item--highlight">
                Дом из газоблока и кирпича
              </span>
              <span class="char__box-item char__box-item--terms">
                Сроки строительства:
              </span>
              <span class="char__box-item char__box-item--highlight">
                30 дней
              </span>
            </div>
          </div>
          <ul class="char__stage">
            <li class="char__stage-item">Фундамент</li>
            <li class="char__stage-item">Стиль</li>
            <li class="char__stage-item">Окна и входные двери</li>
            <li class="char__stage-item">Внутренняя отделка</li>
            <li class="char__stage-item">Кровля</li>
            <li class="char__stage-item">Фасад</li>
            <li class="char__stage-item">Электросеть</li>
            <li class="char__stage-item">Процесс работы</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="development__section">
      <h4 class="development__title section-title">
        Фундамент
      </h4>
      <div class="development__image">
        <picture>
          <source srcset="img/card/foundation.avif" type="image/avif">
          <source srcset="img/card/foundation.webp" type="image/webp">
          <img loading="lazy" src="img/card/foundation.jpg" class="image" width="1170" height="300" alt="Фундамент">
        </picture>
      </div>
    </div>

    <div class="development__section">
      <h4 class="development__title section-title">
        Стиль
      </h4>
      <div class="development__image">
        <picture>
          <source srcset="img/card/style.avif" type="image/avif">
          <source srcset="img/card/style.webp" type="image/webp">
          <img loading="lazy" src="img/card/style.jpg" class="image" width="1170" height="300" alt="Фундамент">
        </picture>
      </div>
    </div>

    <div class="development__section">
      <h4 class="development__title section-title">
        Окна и входные двери
      </h4>
      <div class="development__items">
        <div class="development__image development__image--gap">
          <picture>
            <source srcset="img/card/window.avif" type="image/avif">
            <source srcset="img/card/window.webp" type="image/webp">
            <img loading="lazy" src="img/card/window.jpg" class="image" width="570" height="360" alt="Окна">
          </picture>
        </div>
        <div class="development__image">
          <picture>
            <source srcset="img/card/door.avif" type="image/avif">
            <source srcset="img/card/door.webp" type="image/webp">
            <img loading="lazy" src="img/card/door.jpg" class="image" width="570" height="360" alt="входные двери">
          </picture>
        </div>
      </div>
    </div>

    <div class="development__section">
      <div class="development__items">

        <div class="development__item development__item--gap">
          <h4 class="development__title section-title">
            Внутренняя отделка
          </h4>
          <div class="development__image">
            <picture>
              <source srcset="img/card/interior.avif" type="image/avif">
              <source srcset="img/card/interior.webp" type="image/webp">
              <img loading="lazy" src="img/card/interior.jpg" class="image" width="570" height="360"
                alt="Внутренняя отделка">
            </picture>
          </div>
        </div>
        <div class="development__item">
          <h4 class="development__title section-title">
            Фасад
          </h4>
          <div class="development__image">
            <picture>
              <source srcset="img/card/facade.avif" type="image/avif">
              <source srcset="img/card/facade.webp" type="image/webp">
              <img loading="lazy" src="img/card/facade.jpg" class="image" width="570" height="360" alt="Фасад">
            </picture>
          </div>
        </div>
      </div>
    </div>

    <div class="development__section">
      <h4 class="development__title section-title">
        Кровля
      </h4>
      <div class="development__image">
        <picture>
          <source srcset="img/card/roof.avif" type="image/avif">
          <source srcset="img/card/roof.webp" type="image/webp">
          <img loading="lazy" src="img/card/roof.jpg" class="image" width="1170" height="300" alt="Кровля">
        </picture>
      </div>
    </div>

    <div class="development__section">
      <h4 class="development__title section-title">
        Электросеть
      </h4>
      <div class="development__image">
        <picture>
          <source srcset="img/card/electricity.avif" type="image/avif">
          <source srcset="img/card/electricity.webp" type="image/webp">
          <img loading="lazy" src="img/card/electricity.jpg" class="image" width="1170" height="300"
            alt="Электросеть">
        </picture>
      </div>
    </div>

    <div class="development-order">

      <div class="order-consultation">
        <span class="order-consultation__text">
          Закажите консультацию, если сомневаетесь
        </span>
        <form action="#" class="order-consultation__form">
          <label for="order" class="sr-only">отправить форму для получения консультации</label>
          <input class="order-consultation__input" type="number" name="phone" id="order"
            placeholder="+38 XXX XXX XX XX">
          <button class="order-consultation__button btn" type="submit">Заказать</button>
        </form>
        <span class="order-consultation__personal">
          Отправляя данные, Вы соглашаетесь на обработку <span>персональных данных</span>
        </span>
      </div>

      <div class="development-order__image">
        <picture>
          <source srcset="img/card/order-consultation.avif" type="image/avif">
          <source srcset="img/card/order-consultation.webp" type="image/webp">
          <img loading="lazy" src="img/card/order-consultation.jpg" class="image" width="420" height="320"
            alt="Закажите консультацию у специалиста">
        </picture>
      </div>

    </div>

    <div class="development__section">

      <h4 class="development__title section-title">
        Процесс работы
      </h4>
      <div class="work-process">
        <div class="work-process__inner">
          <div class="work-process__stage">
            <button class="work-process__title active" type="button" data-btn="tab" data-target="#tabs-1">
              Процесс 1
            </button>
            <span class="work-process__subtitle">
              Общение с экспертами
            </span>
          </div>
          <ul class="work-process__list active" id="tabs-1">
            <li class="work-process__item work-process__item--meeting">
              <div class="work-process__text">
                Ваше знакомство
                с представителем компании.
              </div>
            </li>
            <li class="work-process__item work-process__item--consultation">
              <div class="work-process__text">
                Проведение консультации по интересующим вопросам.
              </div>
            </li>
            <li class="work-process__item work-process__item--details">
              <div class="work-process__text">
                Согласование всех деталей и размеров объекта.
              </div>
            </li>
          </ul>
        </div>

        <div class="work-process__inner">
          <div class="work-process__stage">
            <button class="work-process__title" type="button" data-btn="tab" data-target="#tabs-2">
              Процесс 2
            </button>
            <span class="work-process__subtitle">
              Подбор варианта
            </span>
          </div>
          <ul class="work-process__list" id="tabs-2">
            <li class="work-process__item work-process__item--design">
              <div class="work-process__text">
                Создание
                индивидуального 3D-макета вашего проекта.
              </div>
            </li>
            <li class="work-process__item work-process__item--contract">
              <div class="work-process__text">
                Заключение
                договора по выбранному варианту.
              </div>
            </li>
            <li class="work-process__item work-process__item--payment">
              <div class="work-process__text">
                Оплата предоплаты проекта.
              </div>
            </li>
          </ul>
        </div>

        <div class="work-process__inner">
          <div class="work-process__stage">
            <button class="work-process__title" type="button" data-btn="tab" data-target="#tabs-3">
              Процесс 3
            </button>
            <span class="work-process__subtitle">
              Процесс работы и сдача проекта
            </span>
          </div>
          <ul class="work-process__list" id="tabs-3">
            <li class="work-process__item work-process__item--foundation">
              <div class="work-process__text">
                Подготовка фундамента
                и материалов, конструкции.
              </div>
            </li>
            <li class="work-process__item work-process__item--delivery">
              <div class="work-process__text">
                Доставка на место
                и монтажные работы.
              </div>
            </li>
            <li class="work-process__item work-process__item--projectdelivery">
              <div class="work-process__text">
                Сдача проекта на месте
                и оплата оставшийся части суммы
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> 
