<div class="development-order">

    <div class="order-consultation">
      <span class="order-consultation__text">
        Закажите консультацию, если сомневаетесь
      </span>
      <form action="#" class="order-consultation__form">
        <label for="order-consultation" class="sr-only">отправить форму для получения консультации</label>
        <input class="order-consultation__input" type="number" name="order-consultation" id="order-consultation"
          placeholder="+38 XXX XXX XX XX">
        <button class="order-consultation__button btn" type="submit">Заказать</button>
      </form>
      <span class="order-consultation__personal">
        Отправляя данные, Вы соглашаетесь на обработку <span>персональных данных</span>
      </span>
    </div>

    <div class="development-order__image">
      <picture>
        <source srcset="../img/card/order-consultation.avif" type="image/avif">
        <source srcset="../img/card/order-consultation.webp" type="image/webp">
        <img loading="lazy" src="../img/card/order-consultation.jpg" class="image" width="420" height="320"
          alt="Закажите консультацию у специалиста">
      </picture>
    </div>

  </div>