<section class="manufacture">
  <div class="container">
    <h2 class="manufacture__title section-title">
      Фотографии производства
    </h2>
    <div class="manufacture__gallery gallery">
      <div class="swiper gallery__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="../img/manufacture/manufacture-1.avif" type="image/avif">
              <source srcset="../img/manufacture/manufacture-1.webp" type="image/webp">
              <img loading="lazy" src="../img/manufacture/manufacture-1.jpg" class="gallery__image" width="370"
                height="370" alt="цех по производству строительных модулей">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="../img/manufacture/manufacture-2.avif" type="image/avif">
              <source srcset="../img/manufacture/manufacture-2.webp" type="image/webp">
              <img loading="lazy" src="../img/manufacture/manufacture-2.jpg" class="gallery__image" width="370"
                height="370" alt="цех по производству строительных модулей">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="../img/manufacture/manufacture-3.avif" type="image/avif">
              <source srcset="../img/manufacture/manufacture-3.webp" type="image/webp">
              <img loading="lazy" src="../img/manufacture/manufacture-3.jpg" class="gallery__image" width="370"
                height="370" alt="цех по производству строительных модулей">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="../img/manufacture/manufacture-1.avif" type="image/avif">
              <source srcset="../img/manufacture/manufacture-1.webp" type="image/webp">
              <img loading="lazy" src="../img/manufacture/manufacture-1.jpg" class="gallery__image" width="370"
                height="370" alt="цех по производству строительных модулей">
            </picture>
          </div>
        </div>

        <div class="gallery__nav">
          <div class="swiper-scrollbar"></div>
        </div>

      </div>
    </div>
  </div>
</section>
