<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="video">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно" id="stop"></button>
    <div class="graph-modal__content">
      <iframe id ="video" class="popup__video" width="560" height="315" src="https://www.youtube.com/embed/3CeYsZdvR64" title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>


