<section class="works">
  <div class="container">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a href="index.html" class="breadcrumbs__link">
            Главная страница
          </a>
        </li>
        <li class="breadcrumbs__item">
          <a href="dwelling.html" class="breadcrumbs__link">
            Наши работы
          </a>
        </li>
      </ul>
    </div>

    <div class="works__top">
      <h2 class="works__title section-title">
        Примеры выполненных работ
      </h2>
      <a href="index.html" class="works__link link">Вернуться назад</a>
    </div>

    <ul class="works__content">
      <li class="works__item portfolio-card">
        <article class="portfolio-card__inner">
          <div class="portfolio-card__image">
            <picture>
              <source srcset="img/works/osokorki.avif" type="image/avif">
              <source srcset="img/works/osokorki.webp" type="image/webp">
              <img loading="lazy" src="img/works/osokorki.jpg" class="image" width="360" height="250"
                alt="Дом на Осокорках">
            </picture>
          </div>
          <h4 class="portfolio-card__title">
            Дом на Осокорках (2020)
          </h4>
          <div class="portfolio-card__content">
            <div class="portfolio-card__info">
              <a href="#" class="portfolio-card__button btn">Подробнее</a>
              <span class="portfolio-card__footage">135 м2</span>
            </div>
          </div>
        </article>
      </li>
      <li class="works__item portfolio-card">
        <article class="portfolio-card__inner">
          <div class="portfolio-card__image">
            <picture>
              <source srcset="img/works/gnydyn.avif" type="image/avif">
              <source srcset="img/works/gnydyn.webp" type="image/webp">
              <img loading="lazy" src="img/works/gnydyn.jpg" class="image" width="360" height="250"
                alt=" Дом в Гнедине">
            </picture>
          </div>
          <h4 class="portfolio-card__title">
            Дом в Гнедине (2020)
          </h4>
          <div class="portfolio-card__content">
            <div class="portfolio-card__info">
              <a href="#" class="portfolio-card__button btn">Подробнее</a>
              <span class="portfolio-card__footage">187 м2</span>
            </div>
          </div>
        </article>
      </li>
      <li class="works__item portfolio-card">
        <article class="portfolio-card__inner">
          <div class="portfolio-card__image">
            <picture>
              <source srcset="img/works/stoyanka.avif" type="image/avif">
              <source srcset="img/works/stoyanka.webp" type="image/webp">
              <img loading="lazy" src="img/works/stoyanka.jpg" class="image" width="360" height="250"
                alt="Дом в Стоянке">
            </picture>
          </div>
          <h4 class="portfolio-card__title">
            Дом в Стоянке
          </h4>
          <div class="portfolio-card__content">
            <div class="portfolio-card__info">
              <a href="#" class="portfolio-card__button btn">Подробнее</a>
              <span class="portfolio-card__footage">135 м2</span>
            </div>
          </div>
        </article>
      </li>
      <li class="works__item portfolio-card">
        <article class="portfolio-card__inner">
          <div class="portfolio-card__image">
            <picture>
              <source srcset="img/works/zhulyany.avif" type="image/avif">
              <source srcset="img/works/zhulyany.webp" type="image/webp">
              <img loading="lazy" src="img/works/zhulyany.jpg" class="image" width="360" height="250"
                alt="Дом в Жулянах">
            </picture>
          </div>
          <h4 class="portfolio-card__title">
            Дом в Жулянах
          </h4>
          <div class="portfolio-card__content">
            <div class="portfolio-card__info">
              <a href="#" class="portfolio-card__button btn">Подробнее</a>
              <span class="portfolio-card__footage">249 м2</span>
            </div>
          </div>
        </article>
      </li>
      <li class="works__item portfolio-card portfolio-card_big">
        <article class="portfolio-card__inner">
          <div class="portfolio-card__image">
            <picture>
              <source srcset="img/works/petrovtsy.avif" type="image/avif">
              <source srcset="img/works/petrovtsy.webp" type="image/webp">
              <img loading="lazy" src="img/works/petrovtsy.jpg" class="image" width="360" height="250"
                alt="Дом в с. Петровцы">
            </picture>
          </div>
          <h4 class="portfolio-card__title">
            Дом в с. Петровцы (2016)
          </h4>
          <div class="portfolio-card__content">
            <h4 class="portfolio-card__title portfolio-card__title--desktop">
              Дом в с. Петровцы (2016)
            </h4>
            <div class="portfolio-card__info">
              <a href="#" class="portfolio-card__button btn">Подробнее</a>
              <span class="portfolio-card__footage">135 м2</span>
            </div>
          </div>
        </article>
      </li>
      <li class="works__item portfolio-card">
        <article class="portfolio-card__inner">
          <div class="portfolio-card__image">
            <picture>
              <source srcset="img/works/osokorki-2.avif" type="image/avif">
              <source srcset="img/works/osokorki-2.webp" type="image/webp">
              <img loading="lazy" src="img/works/osokorki-2.jpg" class="image" width="360" height="250"
                alt="Дом в Киеве, Осокорки">
            </picture>
          </div>
          <h4 class="portfolio-card__title">
            Дом в Киеве, Осокорки (2018)
          </h4>
          <div class="portfolio-card__content">
            <div class="portfolio-card__info">
              <a href="#" class="portfolio-card__button btn">Подробнее</a>
              <span class="portfolio-card__footage">135 м2</span>
            </div>
          </div>
        </article>
      </li>
    </ul>

  </div>
</section>
